@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --bg-color: #fff;
        --text-color: #fff;
        --bg-color-container: #333;
        --base: #fff;
    }
    .bright {
        --bg-color-container: #fff;
        --text-color: #000;
        --bg-color: #333;
        --base:#333;
    },
    .dark{
        --bg-color-container: #333;
        --text-color: #fff;
        --bg-color: #fff;
        --base:#fff
    }
}